{{ define "content" }}
<div class="w-full h-full flex flex-col gap-4 items-center justify-center">
  <div class="flex flex-col gap-2 items-center">
    <h1 class="text-2xl font-bold">Learn Go</h1>
    <p class="text-sm text-gray-500">
      Learn Go is a website that teaches you how to code in Go.
    </p>
  </div>
  <h1 class="text-2xl font-bold">Login</h1>
  <form class="flex flex-col gap-4 bg-gray-100 p-4 rounded-md" hx-post="/login">
    <div>
      <label for="email">Email</label>
      <input
        class="w-full p-2 rounded-md"
        type="text"
        name="email"
        placeholder="Email"
        value="{{ .Email }}"
      />
    </div>
    <div>
      <label for="password">Password</label>
      <input
        class="w-full p-2 rounded-md"
        type="password"
        name="password"
        placeholder="Password"
        value="{{ .Password }}"
      />
    </div>

    <button class="bg-blue-500 text-white p-2 rounded-md" type="submit">
      Login
    </button>
  </form>
</div>
{{ end }}
