<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RSS Feed</title>
    <script defer src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
  </head>
  <body class="relative bg-gray-100">
    <div id="main" class="flex h-screen w-screen mx-auto">
      {{ block "sidebar" . }}{{ end }}
      <div class="flex-1 bg-white h-screen w-full" id="content" hx-history-elt>
        {{ block "content" . }}{{ end }}
      </div>
    </div>

    {{ block "dialog" . }}
      <div id="dialog" />
    {{ end }}
  </body>
</html>
